# Environment variables
.env.example
.env
# Python caching
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# macOS system files
.DS_Store

# IDEs/Editors
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

#https://summarizer-agent-64632696562.us-central1.run.app